{% extends "templates/main.html" %}

{% block title %}User Login{% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="row">  
    <div class="col-lg-9 col-md-9">
      <h1>转运网站</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    </div>
    
    <div class="col-lg-3 col-md-3">
      <form class="form-horizontal" action="/login/" method="post" role="form">
        {% csrf_token %}
        <h1>
        </h1>
        <br>
        <br>
        <div class="form-group">
          <input type="text" name="username" required="required" class="form-control" placeholder="请输入登录邮箱" autofocus>
        </div>

        <div class="form-group">
          <input type="password" name="password" required="required" class="form-control" placeholder="请输入密码">
        </div>

        <div class="form-group">
          <button class="btn btn-primary topsecloginbtn"  type="submit" fromaction="/login/">登 录</button>
          还不是会员请先<a href="/regist" title="免费注册">注册</a>
        </div>
      </form>
    </div>
   </div>   
</div>



{% endblock %}